
.text-field {
	 -fx-text-box-border: transparent;
	 -fx-prompt-text-fill: black;
	 }
.text-field:focused {
	-fx-focus-color: transparent;
}	
.password-field {
	 -fx-text-box-border: transparent;
	 -fx-prompt-text-fill: black;
	 }
.password-field:focused {
	-fx-focus-color: transparent;
}	 